<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citiclubapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.UploadFile.UpdateFileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.SubmitActivity.ChooseCreditActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.SplashPage.IntroduceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.EnterpriceInfo.EnterpriceInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.SubmitActivity.CommonSubmitSuccessAvtivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.MyWarrant.MyWarrantActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.WarrantSelling.WarrantSellingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.MyWarrant.WarrantDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.WarrantSelling.QualityControlAgency.QualityControlAgencyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RigesterActivity.LegalPersonCertificateActivity.CertificateNavActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.Notice.NoticeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RigesterActivity.LegalPersonCertificateActivity.EnterpriceBankCertificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RigesterActivity.SuccessfulRiges"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RigesterActivity.RigesterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 登录界面 -->
        <activity
            android:name=".ui.LoginActivity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 启动界面（主界面） -->
        <activity
            android:name=".ui.SplashPage.splashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BusinessHallPage.SearchPage.SearchBusinessActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.SearchPage.SearchResultActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.ZhiyaActivity.ZhiYaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RigesterActivity.LegalPersonCertificateActivity.EnterpriseCertification"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.ApplyIntoStorage.ApplyForStorageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.BusinessHallPage.BusinessHallActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>